{:deps
 true

 :builds
 {:app {:target   :browser
        :modules  {:main {:entries [data.deque]}}
        :devtools {:http-root "public"
                   :http-port 6500}}
  :lib {:target     :node-library
        :output-to  "out/deque.js"
        :exports-fn data.deque/deque
        ;:compiler-options {:optimizations :advanced}
        }}

 :nrepl
 {:port 9000}}
